plural/
.gitlab-ci.yml
Pluralfile
plural.lock
.gitignore
.github/
.goreleaser.yaml
.golangci.yml
docker-compose.yml
*.md
plural.lock
Pluralfile
renovate.json
packer/
hack/
Makefile
Dockerfile
dockerfiles
dockerfiles/s6-rc.d/user/contents.d/dockerd
dockerfiles/s6-rc.d/user/contents.d/plural
dockerfiles/s6-rc.d/user/contents.d/ssh
!dockerfiles/dind-config
!dockerfiles/s6-rc.d
!dockerfiles/podman-conf