# IDE files
.idea/
.vscode/

# OS files
.DS_Store

# Testing files
context.yaml
workspace.yaml

# Build files and binaries
dist/
build/
testout/
*.exe
*.exe~
*.dll
*.so
*.o
*.dylib
__debug_bin

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
forge*.o
plural*.o

# Vendored dependencies
vendor/

# Files that should stay private
cloud-config.yaml
